/* colors */
@primery-light: rgb(238, 177, 199);
@primery: #D81B60;
@primery-dark: #880E4F;
@secondary-light: rgb(169, 208, 241);
@secondary: #1E88E5;
@secondary-dark: #0D47A1;
@gray-light: #FAFAFA;
@gray: #D5D5D5;
@gray-dark: #888888;

.panel {
  width: 100%;
  border-top: 1rpx solid @gray;
  border-bottom: 1rpx solid @gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40rpx 0 40rpx 0;
  .panel-item {
    width: 100%;
    height: 80rpx;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1rpx solid @gray;
    background-color: #FFFFFF;
    .label {
      margin-left: 1rem;
      flex: 1;
    }
    input {
      color: @gray-dark;
      flex: 2;
    }
  }
  .first-item {
    border-top: none;
  }
}


.navigator-group {
  width: 100%;
  border-top: 1rpx solid @gray;
  border-bottom: 1rpx solid @gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40rpx 0 40rpx 0;
}

.navigator-group navigator {
  width: 100%;
  height: 80rpx;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rpx solid @gray;
  background-color: #FFFFFF;
}

.navigator-group navigator text {
  margin-left: 1rem;
}

.navigator-group navigator::after {
  content: '>';
  color: @gray;
  padding-right: 1rem;
  font-weight: bold;
}

.navigator-group .last-navigator {
  border-bottom: none;
}

page {
  background-color: #F5F5F5;
}

.stat-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80rpx;
  border-bottom: 1rpx solid @gray;
  margin-bottom: 40rpx;
}

.stat-label {

}

.sub-title {
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 1rem;
  color: @gray-dark;
  display: block;
}

.stat-value {
  color: @secondary-dark;
  font-size: xx-large;
  font-weight: bold;
}

.btn-secondary {
  background-color: @secondary;
  color: #FFFFFF;
  border-color: @secondary-dark;
}

.btn-secondary:active {
  background-color: @secondary-dark;
  color: @secondary-light;
  border-color: @secondary-dark;
}

.btn-block {
  margin: 20rpx;
}

.search-bar {
  width: 100%;
  border-bottom: 1rpx solid @gray;

  button,input {
    margin: 20rpx;
    height: 70rpx;
    color: @gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid @gray;
    background-color: #FFFFFF;
  }

  input {
    color: @gray-dark;
    padding: 10rpx;
    border-radius: 8rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  

  button:active {
    background-color: #FFFFFF;
  }
}

.map {
  width: 100%; 
  height: ~"calc(100% - 110rpx)";;
}
