/* colors */
@primary-light: #FFE79E;
@primary: #FFCC00;
@primary-transparent: rgba(255, 204, 0, 0.8);
@primary-dark: #BB9900;
@secondary-light: rgb(169, 208, 241);
@secondary: #03a9f4;
@secondary-dark: #0D47A1;
@gray-light: #FAFAFA;
@gray: #D0D0D0;
@gray-dark: #888888;
@white: #FFFFFF;
@black: #000000;

.secondary-text {
  color: @secondary-dark;
  font-weight: bold;
}

.info-text {
  color: @gray-dark;
  font-size: 0.8rem;
}

image.icon {
  width: 40rpx;
  height: 40rpx;
  margin-right: 10rpx;
}

.uuid {
  font-size: 0.6rem;
  color: @gray-dark;
  font-family: 'Courier New', Courier, monospace;
}

.panel {
  width: 100%;
  border-top: 1rpx solid @gray;
  border-bottom: 1rpx solid @gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 40rpx 0;
  background-color: white;


  navigator,.panel-item {
    width: 100%;
    min-height: 80rpx;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1rpx solid @gray;
    background-color: @white;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    .label {
      flex: 1 1;
    }
    input,.value {
      width: 100%;
      color: @gray-dark;
      flex: 2 2;
    }
    .value {
      text-align: right;
    }
    button {
      height: 80rpx;
      border-radius: 0px;
      width: 100%;
      background-color: @white;
      position: flex;
      justify-content: center;
      align-content: center;
      font-size: inherit;
    }
    button.btn-navigator {
      text-align: left;
      padding-left: 0;
      color: black;
    }
    button::after{ 
      border-radius: 0px;
      border: none;
    }
    &:first-child {
      border-top: none;
    }
    &.required {
      border-left: 4rpx solid red;
    }
  }
  navigator::after, .nav-arrow::after {
    content: '>';
    font-family: Arial, Helvetica, sans-serif;
    color: @gray;
    font-weight: bold;
    margin-left: 20rpx;
  }
  picker {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  picker > view {
    width: 100%;
    min-height: 80rpx;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .top-line {
    border-top: 1rpx solid @gray;
  }
  .no-top-line {
    border-top: none;
  }
}

navigator.no-arrow::after{
  content: '';
}

page {
  background-color: #F5F5F5;
  padding-bottom: 20rpx;
}

.hide {
  display: none;
}

.stat-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80rpx;
  border-bottom: 1rpx solid @gray;
  margin-bottom: 40rpx;
}


.sub-title {
  font-size: 0.6rem;
  // font-weight: bold;
  margin: 0 1rem 0 1rem;
  color: @gray-dark;
  display: block;
}

.stat-value {
  color: @secondary-dark;
  font-size: xx-large;
  font-weight: bold;
}

.btn-primary {
  background-color: @primary;
  color: @black;
  border-color: @black;
}

.btn-primary:active {
  background-color: @primary-dark;  
}

.btn-secondary {
  background-color: @secondary;
  color: @white;
  border-color: @secondary-dark;
}

.btn-secondary:active {
  background-color: @secondary-dark;
  color: @secondary-light;
  border-color: @secondary-dark;
}

.btn-block {
  margin: 20rpx;
}

.search-bar {
  width: 100%;
  border-bottom: 1rpx solid @gray;

  button,input {
    margin: 20rpx;
    height: 70rpx;
    color: @gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rpx solid @gray;
    background-color: @white;
  }

  input {
    color: @gray-dark;
    padding: 10rpx;
    border-radius: 8rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  button:active {
    background-color: @white;
  }
}

.panel-item.warning {
  background-color: @primary;

  button {
    background-color: @primary;
  }
}

.panel-item.secondary {
  background-color: @secondary;

  button {
    background-color: @secondary;
    color: @white;
  }
}

.text-elipsis { 
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80rpx; 
  white-space: nowrap;
}

.avatar-upload {
  width: 360rpx;
  height: 360rpx;
  margin: 10rpx;
}

@gray: #EFEFEF;
.image-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-top: 1rpx solid @gray;
  border-bottom: 1rpx solid @gray;
  background-color: white;
}

.image-avatar {
  width: 33%;
  position: relative;
  top: 0;
  left: 0;

  .image-delete {
    background-color: white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5rpx;
    left: 180rpx;
  }



  .image-card {
    margin: 20rpx;
    width: 200rpx;
    height: 200rpx;
    border-radius: 10rpx;

    &.image-placeholder {

      outline: 2rpx dashed @gray-dark;
      outline-offset: -2rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @gray-dark;
    }

    &.image-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 200rpx;
      height: 200rpx;
    }
  } 
}

.list-no-content {
  font-style: italic;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}


.tab-h {
	height: 80rpx;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 80rpx;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
	// position: absolute;
	// top: 0;
	// left: 0;
	// z-index: 99;
}
.tab-item {
  margin: 0;
  display: inline-block;
  flex: 1 1 100%;
  color: @gray-dark;
  min-width: 100rpx;
}
.tab-item-label {
	margin: 0 10rpx 0 10rpx;
  padding: 0 20rpx 0 20rpx;
	display: inline-block;
}
.tab-item.active {
	color: black;
	position: relative;
}
.tab-item.active:after {
	content: '';
	display: block;
	height: 4rpx;
	width: 100%;
	background: @primary;
	position: absolute;
	bottom: 0;
}
.scoll-h {
	height: 100%;
}


.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position:fixed;
	bottom: 20rpx;
  width: 100%;
  // margin: auto;
  // left: 0;
  // right: 0;

	.footer-nav-item {
		border: 1rpx solid @primary-dark;
    width: 200rpx;
    height: 80rpx;
    background-color: @primary-transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

    text {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin:auto;
    }
	}

	.footer-nav-item:first-child {
		border-radius: 40rpx 0 0 40rpx;
	}

	.footer-nav-item:last-child {
    border-radius: 0 40rpx 40rpx 0;
	}
}
