/* colors */
@primary-light: rgb(238, 177, 199);
@primary: #D81B60;
@primary-dark: #880E4F;
@secondary-light: rgb(169, 208, 241);
@secondary: #1E88E5;
@secondary-dark: #0D47A1;
@gray-light: #FAFAFA;
@gray: #D5D5D5;
@gray-dark: #888888;
@white: #FFFFFF;
@black: #000000;

.panel {
  width: 100%;
  border-top: 1rpx solid @gray;
  border-bottom: 1rpx solid @gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40rpx 0 40rpx 0;

  .top-line {
    border-top: 1rpx solid @gray;
  }
  navigator,.panel-item {
    width: 100%;
    min-height: 80rpx;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1rpx solid @gray;
    background-color: @white;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    .label {
      flex: 1 1;
    }
    input,.value {
      width: 100%;
      color: @gray-dark;
      flex: 2 2;
    }
    .value {
      text-align: right;
    }
    .uuid {
      font-size: 0.6rem;
    }
    button {
      height: 80rpx;
      border-radius: 0px;
      width: 100%;
      background-color: @white;
      position: flex;
      justify-content: center;
      align-content: center;
      font-size: inherit;
    }
    button::after{ 
      border-radius: 0px;
      border: none;
    }
    &:first-child {
      border-top: none;
    }
    &.required {
      border-left: 4rpx solid red;
    }
  }
  navigator::after {
    content: '>';
    color: @gray;
    font-weight: bold;
    margin-left: 20rpx;
  }
  picker {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  picker > view {
    width: 100%;
    min-height: 80rpx;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    white-space: nowrap;
  }
}

navigator.no-arrow::after{
  content: '';
}

page {
  background-color: #F5F5F5;
  padding-bottom: 20rpx;
}

.hide {
  display: none;
}

.stat-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80rpx;
  border-bottom: 1rpx solid @gray;
  margin-bottom: 40rpx;
}

.stat-label {

}

.sub-title {
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 1rem;
  color: @gray-dark;
  display: block;
}

.stat-value {
  color: @secondary-dark;
  font-size: xx-large;
  font-weight: bold;
}

.btn-secondary {
  background-color: @secondary;
  color: @white;
  border-color: @secondary-dark;
}

.btn-secondary:active {
  background-color: @secondary-dark;
  color: @secondary-light;
  border-color: @secondary-dark;
}

.btn-block {
  margin: 20rpx;
}

.search-bar {
  width: 100%;
  border-bottom: 1rpx solid @gray;

  button,input {
    margin: 20rpx;
    height: 70rpx;
    color: @gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rpx solid @gray;
    background-color: @white;
  }

  input {
    color: @gray-dark;
    padding: 10rpx;
    border-radius: 8rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  button:active {
    background-color: @white;
  }
}

.panel-item.warning {
  background-color: @primary;

  button {
    background-color: @primary;
    color: @white;
  }
}

.text-elipsis { 
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80rpx; 
  white-space: nowrap;
}

.avatar-upload {
  width: 360rpx;
  height: 360rpx;
  margin: 10rpx;
}

@gray: #D5D5D5;
.image-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.image-avatar {
  width: 33%;
  position: relative;
  top: 0;
  left: 0;

  .image-delete {
    background-color: white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5rpx;
    left: 180rpx;
  }

  .image-card {
    margin: 20rpx;
    width: 200rpx;
    height: 200rpx;
    border-radius: 10rpx;

    &.image-placeholder {

      outline: 2rpx dashed @gray;
      outline-offset: -2rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @gray;
    }

    &.image-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 200rpx;
      height: 200rpx;
    }
  } 
}
